.contact {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.contactDescription {
  padding-right: 5%;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 28px;
}

.contactForm {
  width: 50%;
  padding-left: 5%;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100%;
}

.contactForm form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

form label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form input,
textarea {
  margin: 2% 0;
  border-radius: 10px;
  padding: 15px;
  border: none;
  outline: none;
}

form button {
  padding: 15px;
  width: 150px;
  border-radius: 10px;
  background: #555;
  border: none;
  color: #fff;
}

form button:hover {
  background-color: #727272;
  cursor: pointer;
}
