.sidebar {
  display: flex;
  height: 93vh;
  color: #fff;
}

.left-tab {
  background-color: #555;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  width: 60px;
}

.left-tab i {
  opacity: 0.8;
  cursor: pointer;
}

.toggle {
  border: none;
  background-color: #555;
}

.right-tab {
  background-color: #252526;
}

.caret {
  border: none;
  background-color: #252526;
  width: 100%;
  text-align: start;
  color: #fff;
  font-size: 18px;
  padding: 5px 0;
}

.caret:hover {
  background-color: #313131;
}

.explorer {
  height: 53px;
  display: flex;
  align-items: center;
  padding: 0 21px;
  font-size: 23px;
}

.items {
  display: flex;
  flex-direction: column;
  margin: 0 25px;
}

.items li {
  font-size: 15px;
  display: flex;
  align-items: center;
  padding: 3px 0;
}

.fa-html5 {
  color: #e8622b;
}

.fa-css3 {
  color: #2962e9;
}

.fa-js {
  color: #f7d800;
}

.fa-react {
  color: #08d9ff;
}

.fa-gem {
  color: #a30c0b;
}

.fa-readme {
  color: #b33beb;
}

.fa-node-js {
  color: #428b40;
}
