.category {
  display: flex;
  margin-bottom: 2%;
  flex-wrap: wrap;
}

.skill {
  width: 240px;
  height: 80px;
  align-items: center;
  justify-content: flex-start;
  display: flex;
  gap: 10px;
  cursor: pointer;
  margin: 1% 0;
}

.skill p {
  font-size: 22px;
}

.skill img {
  height: 55px;
  background-color: #fff;
  border-radius: 15%;
  opacity: 0.9;
}

.skill img:hover {
  opacity: 1;
}

.skills h4 {
  color: #3b82f6;
  font-size: 22px;
}
